// *,
// *::before,
// *::after {
//   // outline: 1px solid black;
// }

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

span {
  display: inline-block;
}

button {
  all: unset;
  box-sizing: border-box;
}
