.activityWrapper {
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
}

.coinBg {
  text-align: center;
  color: #fff;
  background-color: #78c9d2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
