.wrapper {
  @media (min-width: 992px) {
    width: 80% !important;
  }
}

.coinRecommend {
  border-bottom: 1px solid #d6d6d6;
  &:last-child {
    border-bottom: none;
  }

  @media (min-width: 992px) {
    border-bottom: none;

    border-right: 1px solid #d6d6d6;
    &:last-child {
      border-right: none;
    }
  }
}

.link {
  color: #495057;
  &:hover {
    color: #da5271;
  }
}

.btnWrapper {
  width: 132px;
  text-align: center;
  @media (min-width: 992px) {
    width: auto;
  }
}

.imgWrapper {
  position: relative;
  width: 40%;
  aspect-ratio: 4/3;
  border-radius: 8px;
  @media (min-width: 992px) {
    width: 80% !important;
  }
}
