.logo {
  &Wrapper {
    position: relative;
    width: 100px;
    height: auto;
    aspect-ratio: 3 / 1;

    @media (min-width: 768px) {
      width: 120px;
    }
  }

  &Image {
    object-fit: contain;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
  background-color: rgba($color: #fff, $alpha: 0.9);
  box-shadow: 0 2px 10px rgba($color: #000, $alpha: 0.08);

  &.hidden {
    transform: translateY(-100%);
  }

  &NavLink {
    font-size: 14px;
    padding: 16px 8px;
    &:hover {
      color: #da5271;
      .avatar {
        border-radius: 50%;
        outline: 3px solid #da5271;
      }
    }
  }

  &NavUtility {
    li a {
      font-size: 16px;
      padding: 0px 5px;
      &:hover {
        color: #da5271;
      }
    }
  }
}

.navMobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba($color: #000, $alpha: 0.08);

  li a {
    font-size: 10px;
    padding: 12px 8px;
  }
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;

  &:focus,
  &:active,
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
}
